In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
%matplotlib inline

In [50]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
avg_age = np.mean(train['Age'])
train['Age'] = train['Age'].fillna(avg_age)
train['Cabin'] = train['Cabin'].fillna(False)
test['Age'] = test['Age'].fillna(avg_age)
test['Cabin'] = test['Cabin'].fillna(False)
train['cabin_bool'] = [(x != False) for x in train['Cabin'].values]
test['cabin_bool'] = [(x != False) for x in test['Cabin'].values]
train['Sex'] = [(x == 'male') for x in train['Sex'].values]
print(train['Survived'].value_counts())
train.head()

0    549
1    342
Name: Survived, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_bool
0,1,0,3,"Braund, Mr. Owen Harris",True,22.0,1,0,A/5 21171,7.2500,False,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",False,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1,3,"Heikkinen, Miss. Laina",False,26.0,0,0,STON/O2. 3101282,7.9250,False,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",False,35.0,1,0,113803,53.1000,C123,S,True
4,5,0,3,"Allen, Mr. William Henry",True,35.0,0,0,373450,8.0500,False,S,False

In [59]:
X = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'cabin_bool']]
y = train['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state=20)
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)
prediction_test = model.predict(X_test)
print(metrics.accuracy_score(y_test, prediction_test))

0.8333333333333334